body {
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
margin: 0;
padding: 0;
}

div, p, a, input, button, form, span, ul, li {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5,h6 {
    margin: 0;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.header {
	background: -webkit-linear-gradient(135deg, rgb(71, 62, 95), rgb(42, 34, 64));
background: -moz-linear-gradient(135deg, rgb(71, 62, 95), rgb(42, 34, 64));
background: linear-gradient(135deg, rgb(71, 62, 95), rgb(42, 34, 64));;
	padding-top: 110px;
	padding-bottom: 230px;
}
.logo {
	margin-bottom: 70px;
}
.title {
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 36px;
	width: 470px;
	margin-top: 110px;
}
span {
	color: #48ed8e;
}
.course {
	font-family: Open Sans;
	font-size: 15px;
	color: #FFFFFF;
	width: 380px;
	line-height: 1.5em;
	margin-bottom: 40px;
}
.btn {
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 15px;
	text-decoration: none;
	border: 1px;
	border-radius: 1.5em;
	background: #ed9619;
	padding: 10px 20px;
	width: 190px;
}
.wrapper {
	display: flex;
	justify-content: space-between;
}
.learn {
	padding-top: 110px;
	padding-bottom: 120px;
}
.learn-title {
	font-family: Montserrat;
	font-size: 30px;
}
.items {
	display:flex;
	justify-content: space-between;
}
h3 {
	font-size: Montserrat;
	font-size: 18px;
}
p {
	font-family: open sans;
	font-size: 15px;
}
.item {
	padding-left: 100px;
	margin-top: 80px;
}
.item-code {
	background: url(../img/icon1.jpg) no-repeat left top;
	width: 350px;
}
.item-free {
	background: url(../img/icon2.jpg) no-repeat left top;
	width: 360px;
}
.item-life {
	background: url(../img/icon3.jpg) no-repeat left top;
	width: 335px;
}
.future {
	background-color: #efecf4;
	padding-top: 175px;
	padding-bottom: 190px;
}
.form {
	max-width: 700px;
}

.input {
	font-family: open sans;
	font-size: 15px;
	border: 1px solid;
	border-color: #bfb8d1;
	border-radius: 1.5em;
	padding: 10px 20px;
	width: 470px;
	margin-top: 45px;
	margin-right: 14px;
}
.btn-form {
	border: 0;
	display: inline;
	margin-left: 11px;}

.footer {
	background-color: #201b2d;
	padding-top: 35px;
	padding-bottom: 35px;
}
.credits {
	font-family: open sans;
	font-size: 14px;
	color: #d4cee3;
}

@media screen and (max-width:1200px) {
	.container {
        width: 960px;
	}

	.title {
		width: auto;
	}

	.learn-title {
		width: auto;
	}
		h3 {
			width: auto;
	}
		p {
			width: auto;
	}

	.course {
		width: auto;
	}

	.wrapper {
		flex-direction: column;
	}

	.items {
		flex-direction: column;
		width: 100%;
	}

	.item {
		width: 100%;
	}
	.laptop {
		display: block;
		width: 549px;
		margin: 72px auto 0;
	}
}

@media screen and (max-width:992px) {

    .container {
        width: 720px;}

		.offer {
			width: auto;
		}
		.form {
			width: auto;
		}

		.btn {
			width: 100%;
			margin-left: 0;
		}
		.input {
			width: 100%;
			margin-bottom: 30px;
		}
		
}

@media screen and (max-width:768px) {

    .container {
        width: 540px;}

		.laptop {
			width: 100%};
			
}

@media screen and (max-width:576px) {

    .container {
        width: 90%;
	}
}